html{
  background-image: url("../images/snowbg.avif");
  background-repeat: no-repeat;
  background-color:  rgb(143,170,190);
  background-size: cover;
}

body{
  margin: 0;
  width: 100vw;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
header{
  background-color: rgb(77, 105, 124);
  height: 20vh;
  text-align: center;
  padding-top: 10vh;
  font-size: 5.5em;
  color: RGB(235,246,247);
  width: 80vw;
  margin: auto;
}
.h1-welcome{
  text-align: center;
}
h1, ul {
  margin-block: 0;
}
.h1-blog {
  text-align: center;
  padding-bottom: 1vh;
}
.blog-cont p, .blog-cont h2{
  padding: 0 2vw 2vw 2vw;
}
.blog-cont h1{
  text-align: center;
}
h1{
  padding: 0.67em 0 0 0;
}
.list-welcome{
  padding: 1vh 5vw;
}
.list-horizontal li{
  display: inline-block;
  padding: 5vw;
}
.nav-cont{
  background-color: rgb(235,246,247,.7);
}
.blog-cont{
  background-color: rgb(235,246,247,.7);
  width: 80vw;
  margin: auto;
}
.list-nav{
  list-style-type: none;
  height: 100%;
}
.grid {
  display: grid;
  width: 80vw;
  grid-template-columns: 2fr 2fr;
  height: 70vh;
  margin: auto;
}

.grid-welcome{
  background-color: rgb(208, 188, 104, .85);
  color: darkslategrey;
}

.foot {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
}
footer{
  background-color: rgb(174,129,83,.8);
  position: relative;
  top: 20vh;
  vertical-align: bottom;
  width: 80vw;
 margin: auto;
}
.galaxy-brain {
  width: 25vw;
  display: block;
  height: 100%;
  object-fit: cover;
}
#code {
  margin: auto;
  display: block;
}
.index{
  text-decoration: none;
}

@media (min-width: 1200px){
  .galaxy-brain{
    content: url(../images/galaxy-brain.png); /*Need to replace alt text with Javascript*/
  }
}

@media (max-width: 768px){
  .list-welcome{
    padding: .75vh 4vw
  }
  header{
    font-size: 4em;
  }
  body {
    width: 100%;
  }
}

@media (max-width: 320px){
  header{
    height: 15vh;
    padding-top: 7.5vh;
    font-size: 3em;
  }
  .grid {
    display: block;
  }
  .grid-welcome{
    margin-top: 5vh;
    min-height: 50vh;
  }
  .nav-cont{
    margin-top: 5vh;
    min-height: 30vh;
  }
}
