body{
  margin: 0;
  background-image: url("../images/snowbg.avif");
  object-fit: cover;
  width: 80vw;
  margin: auto;
  object-fit: cover;
}
header{
  background-color: #4d697c;
  height: 20vh;
  text-align: center;
  padding-top: 10vh;
  font-size: 4em;
  color: RGB(235,246,247);
}
h1{
  padding: 0.67em 0 0 0;
  text-align: center;
}
h1, ul {
  margin-block: 0;
}
.list-welcome{
  padding: 1vh 5vw;
}
.nav-cont{
  background-color: rgb(235,246,247,.5);
}
.list-nav{
  list-style-type: none;
  height: 100%;
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 2fr;
  height: 70vh;
}

.grid-welcome{
  background-color: #D0BC68;
  color: darkslategrey;
}

.grid-f {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
}
footer{
  background-color: rgb(174,129,83);
}
.galaxy-brain {
  width: 25vw;
}

@media (min-width: 1200px){
  img{
    content: url(../images/galaxy-brain.png); /*Need to replace alt text with Javascript*/
  }
}

@media (max-width: 768px){
  .list-welcome{
    padding: .75vh 4vw
  }
  body {
    width: 100%;
  }
}

@media (max-width: 320px){
  header{
    height: 15vh;
    padding-top: 7.5vh;
    font-size: 3em;
  }
  .grid {
    display: block;
    vertical-align: bottom;

  }
}